{% extends 'makeup/base/base.html' %}
{% load static %}

{% block subpageclass %}class="sub_page"{% endblock subpageclass %}


{% block body %}
  <!-- veg section -->

  <section class="veg_section ">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Our Brands
        </h2>
        <p>
          which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't an
        </p>
      </div>
      <div class="row">
        {% for item in brands %}
          {% include 'makeup/includes/brand_item.html' %}
        {% endfor %}
   

      </div>
    </div>
  </section>

  <!-- end veg section -->

  {% endblock body %}